@ media screen and (min-width: 500px)
{
	
	
}

@media screen and (min-width:1000px)
{
	
	
}




h1 {
  text-align: center;
  color: white;
  }
h2 {
  color: white;
}
body
{
  background-color: blue;
}
.left-basedtable
{
float: left;
  color: white;
  display: inline-table;
}
th{
  border: 2px solid white;
  border-collapse: collapse;
  text-align: center;
}
table, td {
  border: 2px solid white;
  border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even) {background-color: green;}
tr:nth-child(odd) {background-color: orange
}
#map {
  height: 400px;
  width: 50%;
  float: right;
}
