body
{
  background-color: blue;
}
    h1 {
      text-align: center;
      color: white;
     }
     h3
     {
       color: white;
     }
     p
     {
       color: white;
     }
     .home
     {
         display: inline-block;
       float:left;
         color: black;
       background-color: white;
       border-radius: 16px;
       height: 20px;
       width: 100px;
     text-align: center;
     border: 2px solid red;
     transition: all 1.5s;
     }
     .home:hover {
      background-color: orange;
     }
     .references-flex-container
     {
       display: flex;
       justify-content: space-between;
       flex-direction: row;
       text-align: center;
     }

.references-flex-container img
{
  width: 200px;
  height:200px;
  display: table;
   margin: 0 auto;
}
