h1 {
  text-align: center;
  color: white;
  size: 40%;
 }
h2 {
  color: white;
}
p
{
	color: white;
  font-size: 3;
}
body
{
  background-color: blue;
}
.left-basedtable
{
float: left;
  color: white;
  display: inline-table;
  font-size: 0.5;
}
th{
  border: 2px solid white;
  border-collapse: collapse;
  text-align: center;
}
table, td {
  border: 2px solid white;
  border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even) {background-color: green;}
tr:nth-child(odd) {background-color: orange
}
#map {
  height: 400px;
  width: 400px;
  display: table-cell;
}
.top-flex-container
{
	display: flex;
}
.top-flex-container>div {
  background-color: purple;
  margin: 7px;
  padding:5px;
  font-size: 8px;
  height: 40%;
}



@media screen and (min-width: 600px)
{
  .left-basedtable
  {
  float: left;
    color: white;
    display: inline-table;
    font-size: 0.5;
  }
  th{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  table, td {
    border: 2px solid white;
    border-collapse: collapse;
      text-align: center;
  }
  tr:nth-child(even) {background-color: green;}
  tr:nth-child(odd) {background-color: orange
  }
  #map {
    height: 400px;
    width: 400px;
    display: table-cell;
  }
  .top-flex-container
  {
  	display: flex;
  }
  .top-flex-container>div {
    background-color: purple;
    margin: 20px;
    padding:10px;
    font-size: 10px;
  }

}

@media screen and (min-width: 800px)
{
  .left-basedtable
  {
  float: left;
    color: white;
    display: inline-table;
    font-size: 0.5;
  }
  th{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  table, td {
    border: 2px solid white;
    border-collapse: collapse;
      text-align: center;
  }
  tr:nth-child(even) {background-color: green;}
  tr:nth-child(odd) {background-color: orange
  }
  #map {
    height: 400px;
    width: 400px;
    display: table-cell;
  }
  .top-flex-container
  {
  	display: flex;
  }
  .top-flex-container>div {
    background-color: purple;
    margin: 30px;
    padding:40px;
    font-size: 18px;
  }

}


@media screen and (min-width:1200px)
{
  .left-basedtable
  {
  float: left;
    color: white;
    display: inline-table;
  }
  th{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  table, td {
    border: 2px solid white;
    border-collapse: collapse;
      text-align: center;
  }
  #map {
    height: 400px;
    width: 50%;
    float: right;
  }
  .top-flex-container
  {
  	display: flex;
  }
  .top-flex-container>div {
    background-color: purple;
    margin: 35px;
    padding:50px;
    font-size: 20px;
  }
}
