  h1 {
    text-align: center;
    color: white;
   }
  h2 {
    color: white;
  }
  p
  {
  	color: white;
  }
  body
  {
    background-color: blue;
  }
  .left-basedtable
  {
  float: left;
    color: white;
    display: inline-table;
  }
  th{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  table, td {
    border: 2px solid white;
    border-collapse: collapse;
      text-align: center;
  }
  tr:nth-child(even) {background-color: green;}
  tr:nth-child(odd) {background-color: orange
  }
  #map {
    height: 300px;
    width: 300px;
    display: table-cell;
  }
  .top-flex-container
  {
  	display: flex;
  }
  .top-flex-container>div {
    background-color: purple;
    margin: 5px;
    padding:3px;
    font-size: 7px;
    height: 40%;
  }
  .image-flex-container
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  img {width:100%;
  height:120px;}
  figcaption
  {
    color: white;
  }
  .aboutme
  {
    float: left;
    width: 300px;
  }
  .Interests
  {
  float: right;
  width: 300px;
  }
  ul {
    display: table;
     margin:0 auto;
   color: white;
  }

  }


  @media screen and (min-width: 600px)
  {
    .left-basedtable
    {
    float: left;
      color: white;
      display: inline-table;
    }
    th{
      border: 2px solid white;
      border-collapse: collapse;
      text-align: center;
    }
    table, td {
      border: 2px solid white;
      border-collapse: collapse;
        text-align: center;
    }
    tr:nth-child(even) {background-color: green;}
    tr:nth-child(odd) {background-color: orange
    }
    #map {
      height: 400px;
      width: 400px;
      display: table-cell;
    }
    .top-flex-container
    {
    	display: flex;
    }
    .top-flex-container>div {
      background-color: purple;
      margin: 20px;
      padding:10px;
      font-size: 10px;
    }
    .image-flex-container
    {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    figure {
  width: 140px;
  background: #aaa;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  margin-bottom: -4em;
  display: block;
}
figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}
figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
}
.aboutme
{
  float: left;
  width: 350px;
}
.Interests
{
float: right;
width: 350px;
}
ul {
  display: table;
   margin: 0 auto;
 color: white;
}

  }

  @media screen and (min-width: 800px)
  {
    .left-basedtable
    {
    float: left;
      color: white;
      display: inline-table;
    }
    th{
      border: 2px solid white;
      border-collapse: collapse;
      text-align: center;
    }
    table, td {
      border: 2px solid white;
      border-collapse: collapse;
        text-align: center;
    }
    tr:nth-child(even) {background-color: green;}
    tr:nth-child(odd) {background-color: orange}
    #map {
      height: 400px;
      width: 400px;
      display: table-cell;
    }
    .top-flex-container
    {
    	display: flex;
    }
    .top-flex-container>div {
      background-color: purple;
      margin: 30px;
      padding:40px;
      font-size: 18px;
    }
    .image-flex-container
    {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    figure {
  width: 175px;
  background: #aaa;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  margin-bottom: -4em;
  display: block;
}
figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}
figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
}
.aboutme
{
  float: left;
  width: 400px;
}
.Interests
{
float: right;
width: 400px;
}
ul {
  display: table;
   margin:0 auto;
 color: white;
}
  }


  @media screen and (min-width:1200px)
  {
    .left-basedtable
    {
    float: left;
      color: white;
      display: inline-table;
    }
    th{
      border: 2px solid white;
      border-collapse: collapse;
      text-align: center;
    }
    table, td {
      border: 2px solid white;
      border-collapse: collapse;
        text-align: center;
    }
    #map {
      height: 400px;
      width: 50%;
      float: right;
    }
    .top-flex-container
    {
    	display: flex;
    }
    .top-flex-container>div {
      background-color: purple;
      margin: 35px;
      padding:50px;
      font-size: 20px;
    }
    .image-flex-container
    {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }


    figure {
  width: 250px;
  background: #aaa;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  margin-bottom: -4em;
  display: block;
}
figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}
figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
  .aboutme
  {
    float: left;
    width: 600px;
  }
}
.Interests
{
float: right;
width: 600px;
}
ul {
  display: table;
   margin: 0 auto;
 color: white;
}
  }

@media screen and (min-width:1400px)
{
  .left-basedtable
  {
  float: left;
    color: white;
    display: inline-table;
  }
  th{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  table, td {
    border: 2px solid white;
    border-collapse: collapse;
      text-align: center;
  }
  #map {
    height: 400px;
    width: 50%;
    float: right;
  }
  .top-flex-container
  {
    display: flex;
  }
  .top-flex-container>div {
    background-color: purple;
    margin: 35px;
    padding:50px;
    font-size: 20px;
  }
  .image-flex-container
  {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }


  figure {
width: 300px;
background: #aaa;
overflow: hidden;
}

figure img {
width: 100%;
height: 300px;
background: #eee;
margin-bottom: -4em;
display: block;
}
figcaption {
box-sizing: border-box;
height: 4em;
line-height: 1.2em;
transform: translateY(4em);
background: #fff;
opacity: 0;
transition: all .5s;
}
figure:hover figcaption {
transform: translateY(0em);
opacity: .78;
}
.aboutme
{
  float: left;
  width: 700px;
}
.Interests
{
float: right;
width: 700px;
}
ul {
  display: table;
   margin: 0 auto;
 color: white;
}
  }
